[build]
builder = "NIXPACKS"

[build.nixpacks]
pkgs = ["nodejs-18_x"]

[deploy]
startCommand = "npm run start"
healthcheckPath = "/health"
healthcheckTimeout = 100
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 3
